/* цвет основного текста */

/* цвет вторичного текста #757575 */

/* белый цвет текста #FFFFFF */

/* акцент #2196F3 */

/* фон #FFFFFF */
/* вторичный цвет фона #E5E5E5 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-new-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  --accent-background-color: #f5f4fa;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* site nav */

.site-nav {
  display: flex;
}

.site-nav .link {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-link */
.auth-link .link:hover,
.auth-link .link:focus {
  color: var(--accent-color);
}



.auth-link{
  display: flex;
  margin-left: auto;
}

.auth-link .item + .item{
margin-left: 50px;
}

.auth-link .link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  align-items: center;
}

.mailto{
   width: 16px;
   height: 12px;
   margin-right: 10px;
   fill: #757575;
}
.auth-link .link:hover .mailto,
.auth-link .link:focus .mailto, 
.auth-link .link:hover .phone,
.auth-link .link:focus .phone{
fill:var(--accent-color);
}

.phone{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}
.phone:hover,
.phone:focus{
fill:var(--accent-color);
}

/* hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--accent-new-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-container {
 text-align: center;  
 background-color: var(--primary-text-color);
 background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
 url(../images/working\ area\(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

/* Button */
.button {
 
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* feature */
.feature-list .item{
  width: 270px;

}

.feature-list {
  width: calc(100%-90px) / 4);
}

.features {
padding-top: 94px;
  background: #ffffff;
 
}
 
.feature-list {
  display: flex;
  flex-wrap​:​ wrap;,
  padding-left: 0;
}


.feature-list .item:not(:last-child){
  margin-right: 30px;
}


.feature-list .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* features */
.features {
  background: #FFFFFF;
  padding-bottom: 0;
}

.moment{
  display: flex;
}

 .moment .item:not(:last-child){
  margin-right: 30px;
 }

 .moment .item .features-box{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 120px;
 background-repeat: no-repeat;
 background-position: center;
 background-color: #F5F4FA;
 margin-bottom: 27px;
 }

.moment .item .features-icon{
  height: 70px;
  height: 70px;
}

.features-title {
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--title-text-color);
}

 .features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* work section */

.work {
  background: #ffffff;
}
.section-container {
  display: flex;
}

.work-img {
  margin-right: 30px;
}

.work-img:last-child {
  margin-right: 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}



/* our-team section */


.our-team-container {
  display: flex;
}

.our-team-men {
  background: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-men:last-child {
  margin-right: 0;
}

.our-team-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team-info {
  padding: 30px 0;
}

.our-team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team-job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color:var(--accent-color) ;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;

}

.social-item + .social-item {
  margin-left: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}


/*Постоянные клиенты*/

 .company-container{
   display: flex;
 }

.company-title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}


.company-item{
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
}

.company-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}


.company-item:last-child{
  margin-right: 0;
} 

.company-icon{
  width:106px;
  height: 60px;
  fill:#afb1b8 ;
}

.company-button:hover .company-icon,
.company-button:focus .company-icon {
   fill: #2196F3;
}

.company-button:hover,
.company-button:focus {
 border-color: #2196F3;
}

 /* footer */

.footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-logo{
  display: inline-block;
  margin-bottom: 20px;
  color:var(--accent-new-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-bloe {
  display: inline-block;
  color:var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adres .adres-maps {
 color: var(--accent-new-color);
 padding-top: 20px;
 font-family: Roboto;
 font-style: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
  text-decoration: none;
}

.footer .adres-link:hover,
.footer .adres-link:focus {
  color: var(--accent-color);
}

.footer .adres-link {
  display: inline-block;
 margin-top: 9px;
 font-style: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 text-decoration: none;
}

.footer .container{
  display: flex;
  align-items: baseline;
}

.footer-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;
}

.social-footer-list{
  display: flex;
}

.social-footer-link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-right: 10px;
   background: rgba(255, 255, 255, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background: #2196F3;
}

.social-footer-item:last-child{
  margin-right: 0;
} 

.social-footer-icon{
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.connect{
  margin-left: 70px;
}

/* portfolio */

/* pagination-list */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination {
  margin-bottom: 50px;
}
.pagination .button-wrapper:not(:last-child) {
  margin-right: 8px;
}
.pagination .button {
  border: 0;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--accent-background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.pagination .button.primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--accent-new-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.pagination .button:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--accent-new-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.element:nth-child(3n) {
  margin-right: 0px;
}
.element:nth-last-child(-n + 3n) {
  margin-bottom: 0px;
}
.project .project-link {
  text-decoration: none;
  display: block;
}
.project .project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.project .project-info {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.element {
  margin-right: 30px;

}

.element:hover{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }

 .element:nth-child(-n + 6)  {
   margin-bottom: 30px;
 }
.project .element {
  calc((100%-90px) /3);
}